<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Perfil</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="background_menu" *ngIf="userReady" padding-top>
    <ion-card *ngIf="userdata.user.consumername">
        <img class="userimage" [src]="userdata.user.photo" height='250'/>
        <ion-card-content>
            <h2 class="card-title">{{userdata.user.consumername}}</h2>
            <p>{{userdata.user.location.street}}, {{userdata.user.location.city}} {{userdata.user.location.uf}}</p>
        </ion-card-content>
        <ion-list>
            <ion-item>
                <ion-icon item-left name="mail" color="secondary"></ion-icon>
                <h3>E-mail</h3>
                <ion-note item-right iont-text color="secondary">{{userdata.user.email}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="call" color="secondary"></ion-icon>
                <h3>Fone</h3>
                <ion-note item-right iont-text color="secondary">{{userdata.user.phone}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="phone-portrait" color="secondary"></ion-icon>
                <h3>Celular</h3>
                <ion-note item-right iont-text color="secondary">{{userdata.user.celphone}}</ion-note>
            </ion-item>
            <button ion-item (click)="openFav()">
                <ion-icon item-left name="star" color="secondary"></ion-icon>
                <h3>Favoritos</h3>
                <ion-note item-right iont-text color="secondary">
                        <ion-icon name="arrow-forward"></ion-icon>
                </ion-note>
            </button>
        </ion-list>
        
        <ion-item>
            <button ion-button icon-left clear item-left (click)="goEdit()">
                <ion-icon name="construct"></ion-icon>
                Editar
            </button>
        </ion-item>
        
    </ion-card>
</ion-content>
