<ion-header>
    <ion-navbar>
        <ion-title>{{pub.pubname}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background_menu">
    <ion-card *ngIf="pub.pubname">
        <img class="pubimage" [src]="pub.photo" height="200"/>
        <ion-card-content>
            <h2 class="card-title">{{pub.pubname}}</h2>
            <p>{{pub.location.street}}, {{pub.location.city}} {{pub.location.uf}}</p>
        </ion-card-content>
        <ion-list>
            <button ion-item (click)="openMenu()">
                <ion-icon item-left name="beer" color="secondary"></ion-icon>
                <h3>Carta de Cervejas</h3>
                <ion-note item-right iont-text color="secondary">
                  <ion-badge color="secondary" item-end>{{pub.beers.length}}</ion-badge>
                  <ion-icon name="arrow-forward"></ion-icon>
                </ion-note>
              </button>
            <ion-item>
                <ion-icon item-left name="compass" color="secondary"></ion-icon>
                <h3>Distância</h3>
                <ion-note item-right iont-text color="secondary">{{pub.distance}} Km</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="mail" color="secondary"></ion-icon>
                <h3>E-mail</h3>
                <ion-note item-right iont-text color="secondary">{{pub.email}}</ion-note>
            </ion-item>
            <ion-item ion-item>
                <ion-icon item-left name="call" color="secondary"></ion-icon>
                <h3>Fone</h3>
                <ion-note item-right iont-text color="secondary">{{pub.phone}}</ion-note>
            </ion-item>
            <ion-item ion-item>
                <ion-icon item-left name="phone-portrait" color="secondary"></ion-icon>
                <h3>Celular</h3>
                <ion-note item-right iont-text color="secondary">{{pub.celphone}}</ion-note>
            </ion-item>
            <button ion-item (click)="openComments()">
                <ion-icon item-left name="clipboard" color="secondary"></ion-icon>
                <h3>Comentários</h3>
                <ion-note item-right iont-text color="secondary">
                        <ion-icon name="arrow-forward"></ion-icon>
                </ion-note>
            </button>
        </ion-list>
        
        <ion-item *ngIf="isLoggedIn" >
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div><button ion-button icon-left clear item-left *ngIf="!isFavorite" (click)="doFavorites('put')">
                            <ion-icon name="star"></ion-icon>
                            Favorito
                        </button></div>
                    </ion-col>
                    <ion-col offset-4>
                        <div><button ion-button icon-left clear item-left *ngIf="isFavorite" color="danger" (click)="doFavorites('delete')">
                            <ion-icon name="trash" color="danger"></ion-icon>
                            Favorito
                        </button></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        
    </ion-card>
</ion-content>
